#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_MX]=/
Name[es_MX]=ReporteVenta
Exec=/bin/ReporteCompleto.py
Comment[es_MX]=Generador de Reportes automatico
Name=ReporteVenta
Comment=Generador de Reportes automatico
Icon=/opt/DPOS/icons/ReporteDiario.png

